<footer>

    <div class="branding">
        <div class="logo">
            <a href="/">
                <img class="img-logo" src="images/<%= data.siteContent.header.branding.logo %>.webp"
                    alt="Logo de l'entreprise
                        <%= data.enterprise[0].denomination %>
                        <%= data.enterprise[0].informations_legales.status %>.
                        <%= data.siteContent.header.branding.logoDescription %>"
                >
            </a>
        </div>
        <div class="name">
            <h1><%= data.siteContent.header.branding.name %></h1>
            <p><%= data.siteContent.header.branding.slogan %></p>
        </div>
    </div>

            <div class="ecoindex" >
                <a href="https://www.ecoindex.fr/resultat/?id=<%= data.ecoindex.id %>#score-details" target="_blank" aria-label="Ecoindex Badge">
                    <img class="ecoindex-img light-theme" src="https://bff.ecoindex.fr/badge/?theme=dark&url=<%= data.ecoindex.url %>" alt="Ecoindex Badge dark">
                    <img class="ecoindex-img dark-theme" src="https://bff.ecoindex.fr/badge/?theme=light&url=<%= data.ecoindex.url %>" alt="Ecoindex Badge light" style="display:none;">
                </a>
            </div>


        <p class="copyright" id="copyright"> </p> 
        <a href="/mentions-legales">Mentions légales</a> -
        <a href="/privacy-policy">Politique de confidentialité</a> - 
        <a href="/legal-mention">CGU</a> - 
        <a href="/legal-mention">CGV</a> - 
        <a href="/legal-mention">FAQ</a> - 
        <a href="/legal-mention">Tarif</a> - 
        <a href="/legal-mention">Plan du site</a> -  
        <a href="/contact">Contact</a> -
        <a href="/sitemap.xml">sitemap</a>
        



</footer>
