<div class="footer-center">
  <a href="/" class="logo-footer">
    <img src="images/logo.png" alt="logo de l'entreprise BLEE" srcset="images/logo.png 1x, images/logo@2x.png 2x">
    <figcaption>EXCELLENCE NUMÉRIQUE AU SERVICE DE LA PLANÈTE.</figcaption>
  </a>
  <a class="cta-button" href="/contact">Rejoignez l'Aventure</a>
  <div class="ecoindex">
    <p>
      <a href="https://www.ecoindex.fr/resultats/?id=<%= ecoindexData.id %>" target="_blank">
        <img src="<%= ecoindexData.screenshot %>" alt="Ecoindex" class="ecoindex-img">
      </a>
    </p>
    <p>Score: <%= ecoindexData.score %></p>
    <p>Grade: <%= ecoindexData.grade %></p>
    <p>URL: <a href="<%= ecoindexData.url %>"><%= ecoindexData.url %></a></p>
  </div>
</div>









<footer class="bloc-nav">
  <a class="copyright" id="copyright">&copy; <%= new Date().getFullYear() %></a>
  <div id="mentions-legales">Mentions légales</div>
  <ul>
    <li><a href="/privacy-policy">Politique de confidentialité</a></li>
    <li><a href="/legal-mention">Mentions légales</a></li>
    <li><a href="/cookies">Cookies</a></li>
    <li><a href="/plan-du-site">Plan du site</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/sitemap">Sitemap</a></li>
  </ul>
</footer>
