<footer id="footer">
  <div class="footer-top">
    <div class="footer-branding">
      <div class="branding">
        <div class="footer-logo">
          <a href="/">
            <img class="img-logo" src="images/<%= data.siteContent.header.branding.logo %>.webp"
              alt="Logo de l'entreprise <%= data.enterprise[0].denomination %> <%= data.enterprise[0].informations_legales.status %>."
            >
          </a>
        </div>
        <div class="name">
          <h1><%= data.siteContent.header.branding.name %></h1>
          <p><%= data.siteContent.header.branding.slogan %></p>
        </div>
      </div>
      <div class="urgence" >
      <h5>Numéro d'urgence</h5>
      <p>+33 (0)6 51 29 67 52</p>
      <img class="img-social" src="/images/whatsapp.webp" alt="logo de whatsapp">
    </div></div>

    <div class="address">
      <h2>Adresse</h2>
      <ul>
        <li>Espace 55</li>
        <li>5 rue de l'espace 55</li>
        <li>Parc du Calvi (face au Grand Epagny)</li>
        <li>74 330 Poisy / Annecy</li>
      </ul>
    </div>

    <div class="social">
      <h2>Socials</h2>
      <div class="social-groupe" >
      <div class="linkedin-social">
        <h5>Nous suivre</h5>
        <a href="https://www.linkedin.com" target="_blank">
          <img class="img-social-linkedin" src="/images/linkedin.webp" alt="logo de linkedin">
        </a>
      </div>
      <div class="teamviewer-social">
        <h5>Assistance ACTIKE</h5>
        <a href="https://www.teamviewer.com" target="_blank">
          <img class="img-social" src="/images/teamviewer_94162-180x180.webp" alt="logo de TeamViewer">
        </a>
      </div></div>
    </div>

    <div class="footer-links">
      <h2>Pages</h2>
      <ul>
        <li><a href="/mentions-legales">Mentions légales</a></li>
        <li><a href="#privacy">Politique de confidentialité</a></li>
        <li><a href="#cgu">CGU</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#sitemap">Sitemap</a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <div class="footer-credit">
      <p>Site réalisé par <a href="https://blecweb.fr" target="_blank">BLEC Web</a> - L'Excellence Numérique au Service de la Planète</p>
    </div>
    <div class="ecoindex">
      <a href="https://www.ecoindex.fr/resultat/?id=<%= data.ecoindex.id %>#score-details" target="_blank" aria-label="Ecoindex Badge">
        <img class="ecoindex-img dark-theme" src="https://bff.ecoindex.fr/badge/?theme=light&url=<%= data.ecoindex.url %>" alt="Ecoindex Badge light">
      </a>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="copyright" id="copyright"></p>
  <!-- <p>&copy; 2021-2024 ACTIKE SARL. Tous droits réservés.</p>--> 
  </div>
</footer>
