<footer>
    <div>

        <div class="footer-center">
            <a href="/" class="logo-end">
                <img src="images/logo_bg-WithOut.webp" alt="Logo de l'entreprise">
            </a>
            <h2> <%= data.enterprise[0].denomination %> </h2>
            <p class="slogan">L'Excellence Numérique au Service de la Planète, </p>
            <a class="cta-button" href="/contact">Rejoignez l'Aventure !</a>
            <div class="ecoindex" >
                <a href="https://www.ecoindex.fr/resultat/?id=<%= data.ecoindex.id %>#score-details" target="_blank" aria-label="Ecoindex Badge">
                    <img class="ecoindex-img light-theme" src="https://bff.ecoindex.fr/badge/?theme=dark&url=<%= data.ecoindex.url %>" alt="Ecoindex Badge dark">
                    <img class="ecoindex-img dark-theme" src="https://bff.ecoindex.fr/badge/?theme=light&url=<%= data.ecoindex.url %>" alt="Ecoindex Badge light" style="display:none;">
                </a>
              
            </div>
        </div>


        <p class="copyright" id="copyright">&copy; <%= new Date().getFullYear() %> </p> 

        <a href="/mentions-legales">Mentions légales</a> -

        <!---->
        <a href="/privacy-policy">Politique de confidentialité</a> - 
        <a href="/legal-mention">CGU</a> - 
        <a href="/legal-mention">CGV</a> - 
        <a href="/legal-mention">FAQ</a> - 
        <a href="/legal-mention">Tarif</a> - 
        <a href="/legal-mention">Plan du site</a> -  
        <a href="/contact">Contact</a> -
        <a href="/sitemap.xml">sitemap</a>
        



</footer>
