<header>
    <div class="branding">
        <a href="/" class="logo">
            <img 
                src="images/logo.webp" 
                alt="Logo de l'entreprise 
                    <%= data.enterprise[0].denomination %> 
                    <%= data.enterprise[0].informations_legales.status %>">
        </a>
        <h1 class="branding-name"><%= data.enterprise[0].denomination %></h1>
      
        <p class="branding-text">  <!--L'Excellence Numérique au Service de la Planète,<br> Rejoignez l'Aventure !--></p>
    </div>
        <nav class="bloc-nav">
            <%- include('../partials/navigation') %> 
        </nav>

          <a href="#contact" class="cta">Demandez un devis</a>


</header>



<header>
  <nav>
    <div class="logo">
      <a href="/"><%= data.header.logo %></a>
    </div>
    <ul class="nav-links">
      <% data.header.navItems.forEach(item => { %>
        <li><a href="<%= item.link %>"><%= item.name %></a></li>
      <% }) %>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</header>
